*{
    margin: 0;
    padding: 0;
}

.menu {
    height: 60px;
    width: 98%;
    font-size: 20px;
    text-decoration: none;
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

a {
    text-decoration: none;
    color: black;
}