<div>
    <h2>Add User</h2>
    <form>
      <div>
        <label for="name">Name:</label>
        <input type="name" [(ngModel)]="user.name" placeholder="Name" name="name" class="form-control" id="name">
      </div>
      <div>
        <label for="birthday">Birthday:</label>
        <input type="name" [(ngModel)]="user.birthday" placeholder="Birthday" name="birthday" class="form-control" id="birthday">
      </div>
      <button class="btn btn-success" (click)="createUser()">Create</button>
    </form>
    </div>
